<!DOCTYPE html>
<html>
  <head>
    <title>Namify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/associations/new">New Game</a>
      <% if logged_in? %>
        <a href="/users/<%=current_user.id%>">Home</a>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
